.contenedor {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 100vh;           /* Alto total de pantalla */
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 10px;
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

input, textarea {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #3a86ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
